body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(170, 146, 98);
    display: flex;
    justify-content: center;
    content: center;
    padding: 1% 0 1% 0;
    flex-wrap: wrap;
}

.navButton {
    background-color: rgb(67, 67, 67);
    color: white;
    text-align: center;
    margin: 0 20px;
    font-size: 2rem;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

.navButton:hover {
    font-size: 3rem;
}

footer{
    border-top: 1px solid white;
    text-align: center;
}

.currentPage {
    border: 1px solid white;
    box-shadow: 6px 6px 3px 2px rgba(82, 82, 82, 0.669);
}

.center{
    background-color: rgb(46, 67, 115);
    padding: 3% 0 3% 0;
}

.csumbLogo {
    height: 100px;
    width: auto;
}
