header {
    text-align: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(39, 59, 19);
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgb(212, 183, 125);
    display: flex;
    justify-content: center;
    content: center;
    padding: 1% 0 1% 0;
    flex-wrap: wrap;
}

.navButton {
    background-color: rgb(39, 59, 19);
    color: white;
    text-align: center;
    margin: 0 20px;
    font-size: 1.25rem;
    padding: 0.5% 1% 0.5% 1%;
    text-decoration: none;
    border-radius: auto;
    width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.navButton:hover {
    border: 1px solid white;
}

.currentPage {
    background-color: rgb(76, 96, 57);
}

main {
    flex: 1;
}

footer {
    background-color: rgb(212, 183, 125);
    text-align: center;
    color: rgb(39, 59, 19);
    margin-top: auto;
}

.csumbLogo {
    height: 100px;
    width: auto;
}